.header{
    display: flex;
    justify-content: space-between;
}

.list-wrapper{
    background-color:  #fefbfb;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
    border: 1px solid black;
}







